<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록</title>
</head>
<body>
    <h1>목록</h1>
    <div style="display: flex; justify-content: space-between; width: 600px;">
        <a href="/board/insert">글쓰기</a>
        
    </div>
    <table border="1">
        <thead>
            <tr>
                <th width="50">번호</th>
                <th width="300">제목</th>
                <th width="100">작성자</th>
                <th width="200">등록일자</th>
                <th width="200">수정일자</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:if="${boardList.isEmpty()}">
                <tr>
                    <td colspan="5" align="center">조회된 데이터가 없습니다.</td>
                </tr>
            </th:block>
            <th:block th:each="board : ${boardList}">
                <tr>
                    <td align="center" th:text="${board.no}"></td>
                    <td>
                        <a th:href="|/board/read?no=${board.no}|" 
                        th:text="${board.title}"></a>
                    </td>
                    <td align="center" th:text="${board.writer}"></td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.createdAt, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                    </td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.updatedAt, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <!-- 페이지네이션 -->
    <div>
        <!-- 처음 -->
        <a th:href="@{/board/list(page=${page.first}, rows=${page.rows})}">[처음]</a>
    
        <!-- 이전 -->
        <th:block th:if="${page.prev >= page.first}">
            <a th:href="@{/board/list(page=${page.prev}, rows=${page.rows})}">[이전]</a>
        </th:block>
    
        <!-- 페이지 번호 -->
        <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
            <!-- 현재 페이지 -->
            <th:block th:if="${page.page == no}">
                <b style="color: red;"><span th:text="${no}"></span></b>
            </th:block>
            <th:block th:if="${page.page != no}">
                <a th:href="@{/board/list(page=${no}, rows=${page.rows})}" th:text="${no}"></a>
            </th:block>
        </th:block>
    
        <!-- 다음 -->
        <th:block th:if="${page.next <= page.last}">
            <a th:href="@{/board/list(page=${page.next}, rows=${page.rows})}">[다음]</a>
        </th:block>
    
        <!-- 마지막 -->
        <a th:href="@{/board/list(page=${page.last}, rows=${page.rows})}">[마지막]</a>
    </div>
</body>
</html>